<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>userLogin</display-name>
  <description>userLogin</description>
  <filter>
    <filter-name>AccessControlFilter</filter-name>
    <filter-class>
            leon.filter.AccessControlFilter
        </filter-class>
    <init-param>
      <param-name>timeUnit</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>maxAccessCountPerTimeUnit</param-name>
      <param-value>1000</param-value>
    </init-param>
    <init-param>
      <param-name>allowedURI</param-name>
      <param-value>/login.jsp,/loginControl,/r/,/favicon.ico,/error,/api</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>leon.web.util.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>NoBrowserCacheFilter</filter-name>
    <filter-class>leon.web.util.NoBrowserCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoBrowserCacheFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>leon.web.util.SessionCounterListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>api</servlet-name>
    <servlet-class>leon.userlogin.control.ApiServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>api</servlet-name>
    <url-pattern>/api/user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginControl</servlet-name>
    <servlet-class>leon.userlogin.control.LoginControl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginControl</servlet-name>
    <url-pattern>/loginControl</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>userControl</servlet-name>
    <servlet-class>leon.userlogin.control.UserControl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>userControl</servlet-name>
    <url-pattern>/userControl</url-pattern>
  </servlet-mapping>

  


  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error403.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>leon.userlogin.control.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserControl</display-name>
    <servlet-name>UserControl</servlet-name>
    <servlet-class>leon.userlogin.control.UserControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControl</servlet-name>
    <url-pattern>/UserControl</url-pattern>
  </servlet-mapping>
</web-app>